body{
    background-color:#5F9EA0;
    font-family: Arial, Helvetica, sans-serif;  
}

#contact-form {
    max-width: 400px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #4b64ee;
    color: white;
    border: none;
    cursor: pointer;
}

#customer-details {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}